.App {
  width: 100%;
  height: auto;
  background: #F6FAFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:start;
  text-align: center;
}

.Main_body_item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-evenly;
  width: 100%;;
  line-height: 38px;
  color: #000000;
}
.Main_body_child_p{
margin-left: 10px;
font-family: 'Roboto';
font-style: normal;
text-align: start;
font-weight: 500;
font-size: 32px;
}
.Sidebar{
  display: flex;
  height: auto ;
  align-items: center;
  flex-direction: column;
  background-color: #2F76E6;
}
.Sidebar-item_1{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.Sidebar-item_2{
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
}
.Sidebar-item_1 img{
  border-radius: 50%;
  width: 60px;
  border: 2px solid white;
height: 60px;
margin: 8px;
}
.App-main{
  width: 95%;
}

.App-sidebar{
  width: 5%;
  height: 100vh;
 
}

.scroll-content-left {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 100vh;
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
}
.scroll-content-right {
  height:100%;
  margin-left:180px;
  width: 90%;
}
@media screen and (max-width:720px) {
  .App{
    flex-direction: column;
    justify-content: space-evenly;
  }
  .Sidebar{
    width: 100%;
    height: 5vh ;
    flex-direction: row;
    top: 0;
   
  }
  .Sidebar-item_1, .Sidebar-item_2{
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .scroll-content-right
  {
    margin-left:0px;
    width: 100%;
  }
  .App-main{
    width: 100%;
  }
  .scroll-content-left{
width: 100%;

  }
}
